<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OracleGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

  </configSections>
  <connectionStrings>
    <add name="OracleConnectionString"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oclab01.etzone.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=EHSTEST)));User Id=umallman;Password=umallman!!!666;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HerbMagicWebApi-20181115095805.mdf;Initial Catalog=aspnet-HerbMagicWebApi-20181115095805;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <add name="FormalConnection"
      connectionString="Data Source=dalab01.etzone.net,1437;Initial Catalog=FRI_FORMAL;Persist Security Info=True;User ID=Formal_User;Password=1qaz2wsx!@;connection reset=false;connection lifetime=50;min pool size=1;max pool size=50"
      providerName="System.Data.SqlClient"/>
    <add name="TempConnection"
      connectionString="Data Source=dalab01.etzone.net,1437;Initial Catalog=FRI_MLEC;Persist Security Info=True;User ID=Formal_User;Password=1qaz2wsx!@;connection reset=false;connection lifetime=50;min pool size=1;max pool size=50"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <OracleGen.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oclab01.etzone.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=EHSTEST)));User Id=umallman;Password=umallman!!!666;</value>
      </setting>
      <setting name="packageName" serializeAs="String">
        <value />
      </setting>
      <setting name="InsertChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectByPKChecked" serializeAs="String">
        <value>False</value>
      </setting>
    </OracleGen.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
